* {
    padding: 0;
    margin: 0;
}

/* div {
    border-radius: 300px;
} */
.container {
    border: 5px solid red;
    display: flex;
    margin: 5px;
    height: 500px;
    width: 500px;
    /* border-radius: 300px; */

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    flex-direction: column;
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: stretch; */
    /* align-content: space-between; */
    /* align-content: space-around; */
}

.flex_item {
    border: 1px solid black;
    margin: 5px;
    width: 100px;
    height: 100px;
    text-align:center;
    background-color: aqua;
    overflow: hidden;
    /* position: relative;
    top: 40px;
    left: 100px; */
}

/* #fb1 {
    background-color: royalblue;
    width: 140px;
    height: 140px;
    order: 5;
    flex-shrink: 2;
}

#fb2 {
    background-color: rgb(65, 225, 148);
    width: 150px; 
    height: 150px;
    order: 3;
}

#fb3 {
    background-color: rgb(225, 65, 190);
    width: 160px;
    height: 160px;
    order: 1;
}

#fb4 {
    background-color: rgb(180, 225, 65);
    width: 170px;
    height: 170px;
    order: 6;
    flex-grow: 10;
}

#fb5 {
    background-color: rgb(65, 193, 225);
    width: 280px;
    height: 180px;
    order: 4;
    flex-shrink: 5; 
}

#fb6 {
    background-color: rgb(225, 126, 65);
    width: 90px;
    height: 90px;
    order: 2;
}

div:nth-of-type(even) {
    font-size: 50px;
    font-weight: bold;
} */

#fb1:hover {
    background-color: white;
} 

.flex_item:hover {
    background-color: bisque;
}

.container:hover {
    background-color: yellow;
}